<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Technician Requests</title>
 

  <link rel="stylesheet" href="/css/available-jobs.css" />
  <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
    <header>
        <div class="logo" onclick="window.location.href = '/'">
            <img src="/assests/logo.jpg" alt="Logo">
        </div>
        <nav>
            <ul id="navbar">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/appointments">My Appointments</a></li>


                <li><a href="/login" id="logout-button">Logout</a></li>
           
            </ul>
        </nav>
        
       
    </header>

  

  <div class="container">
    <h1>Requests List</h1>
    <div id="requests-container"></div>
  </div>

  <footer>
    <p>&copy; 2025 Repair & Service Management. All Rights Reserved.</p>
</footer>

  <script src="/js/available-jobs.js"></script>
</body>
</html>
