<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Technician Profile</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/technician-profile.css">
</head>
<body>
    
    <div class="profile-card" id="profile-card">
        <h2>Loading...</h2>
    </div>
    <footer>
        <p>&copy; 2025 Repair & Service Management. All Rights Reserved.</p>
    </footer>




    <script src="/js/technician-profile.js"></script>
       
</body>
</html>
